
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F9F5EC;
    padding: 0 20px;
}

.options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;  /* Added to give some space above the button */
}

.hidden-radio {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.option {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex: 1;  /* Each option takes equal space */
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease, border-color 0.3s;
    border: 2px solid transparent;
    margin: 0 1%;
    position: relative;
}

.option label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.option:hover {
    transform: scale(1.03);
}

.option img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

.option span {
    font-size: 16px;
    color: #333;
}

.option.selected {
    border-color: #232D4B;
}

.submit-btn {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;  /* Center the button */
}

#submitBtn {
    background-color: #222529;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submitBtn:hover {
    background-color: #D43F00;
}

#submitBtn:disabled {
    background-color: #dcdcdc;
    cursor: not-allowed;
}

.back-arrow {
    position: absolute;
    top: 80px;
    left: 50px;
    z-index: 1000;
    padding: 8px;
    border-radius: 50px;
    background-color: #e9d0c6;
}

.back-arrow img {
    width: 40px;
    height: auto;
}

/* General */

.primary-btn {
    border-radius: 30px;
    padding: 10px;
    margin-top: 20px;
    border-style: solid;
    border-width: 4px;
    border-color: #222529;
    background-color: #F87D48;
    color: #222529;    
    transition: 0.3s;
    padding-left: 30px; 
    padding-right: 30px;
}

.primary-btn:hover {
    scale: 105%;
}

.secondary-btn {
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-width: 4px;
    border-color: #222529;
    background-color: white;
    color: #222529;    
    transition: 0.3s;
    padding-left: 30px; 
    padding-right: 30px;
}

.secondary-btn:hover {
    scale: 105%;
}

/* 
    Homepage
    Author: Ciel Park
*/
.content-block {
    background-color: #F9F5EC;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    padding: 60px;
    gap: 40px;
    justify-content: center;
    font-family: Titan One;
}

@keyframes title-drop-in {
    0% {
        transform: translateY(200%);
    }
    90% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0%);
    }
}

.home-content-main {
    border-radius: 30px;
    padding: 40px;
    box-shadow: 15px 15px 0px 0px #222529;
    border-style: solid;
    border-width: 4px;
    border-color: #222529;
    
    transform: translateY(200%);
    animation: title-drop-in 0.7s 0.5s ease-in-out forwards normal;
    background-color: #F87D48;
    width: 650px;
    height: 440px;
}

.home-content-main > h1 {
    font-size: 80px;
    margin-bottom: 20px;
}

.row > h3 {
    font-size: 25px;
    width: 400px;
}

.row > img {
    height: 140px;
    width: auto;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.home-right {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-content-profile {
    display: flex;
    flex-direction: row;
    width:auto;
    justify-content: space-between;
    transform: translateY(300%);
    animation: title-drop-in 0.7s 0.8s ease-in-out forwards normal;
    border-radius: 30px;
    padding: 40px;
    box-shadow: 15px 15px 0px 0px #222529;
    border-style: solid;
    border-width: 4px;
    border-color: #222529;
    background-color: #89B5FE;
    gap: 20px;
}

.home-content-profile > h3 {
    font-size: 25px;
}

.home-content-action {
    margin-top: 30px;
    transform: translateY(200%);
    animation: title-drop-in 0.7s 0.9s ease-in-out forwards normal;
    border-radius: 30px;
    padding: 40px;
    box-shadow: 15px 15px 0px 0px #222529;
    border-style: solid;
    border-width: 4px;
    border-color: #222529;
    background-color: #ffffff;
}

.login-prof-img {
    border-radius: 50%;
    height: 100px;
    border: 4px solid #222529;
    transition: 0.3s;
}

.login-prof-img:hover {
    scale: 105%;
}



/* 
    Admin Dashboard & User Dashboard
    Author: Ciel Park
*/
.content-block-dash {
    background-color: #F9F5EC;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 60px;
    gap: 20px;
    font-family: Titan One;
}

.content-block-dash > h2 {
    opacity: 0;
    margin-top: 20px;
    text-align: center;
    animation: fadeInAnimation 0.4s 0.8s ease-in-out forwards normal;
}

.user-events {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    height: auto;
    width: 45vw;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    overflow: hidden;
}

@keyframes hideevents {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.dash-content h2, .user-events h2 {
    font-family: Titan One;
    font-size: 25px;
}

.event-box {
    transform: translateY(600%);
    animation: title-drop-in 0.7s 0.7s ease-in-out forwards normal;

    border-radius: 30px;
    color: #222529;
    margin-top: 20px;
    border-style: solid;
    border-width: 4px;
    border-color: #222529;
    box-shadow: 15px 15px 0px 0px #222529;

    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
    align-content: center;
    justify-content: space-between;
}


/* 
    Form (create event n RSVP) View
    Author: Ciel Park
*/
.content-block-form {
    background-color: #F9F5EC;
    overflow-y: scroll;
    padding: 60px;
    font-family: Titan One;
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
}

.form-block {
    transform: translateY(200%);
    animation: title-drop-in 0.8s 0.9s ease-in-out normal forwards;
    width: 90%;
    border-radius: 30px;
    background-color: white;
    border-style: solid;
    border-width: 4px;
    border-color: #222529;
    box-shadow: 15px 15px 0px 0px #222529;
    padding:40px;
}

.form-info {
    margin-top: 20px;
    gap:20px;
    width: 50%;
}



.error-message {
    margin-left: auto;
}

.event-view-attendee {
    display:flex;
    flex-direction: row;
}

.event-view-attendee:hover {
    background-color: #b8a9a1;
}

.event-view-attendee:hover .remove-attendee-btn {
    opacity: 100%;
}
.remove-attendee-btn {
    opacity: 0%;
    margin-left: auto;
    height: 21px;
    width: 21px;
}

.remove-attendee-btn img {
    width: 100%;
    height: 100%;
    filter: brightness(70%);
}

.remove-attendee-btn img:hover {
    filter:brightness(85%);
}


/* 
    All events page
    author: Ciel Park
*/

.main-container {
    display: flex;
    flex-direction: row;
    height: 93vh;
    overflow: hidden;
}

.content-block-events {
    background-color: #F9F5EC;
    padding: 60px;
    gap: 40px;
    font-family: Titan One;

    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#222529;
    overflow-y: auto;
}

.content-block-events > h2 {
    opacity: 0;
    margin-top: 20px;
    text-align: center;
    animation: fadeInAnimation 0.4s 0.8s ease-in-out forwards normal;
}

.content-block-events > .event-box {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    gap: 15px;
}




.event-title {
    color: white;
    font-size: 22px;
    max-width: 295px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.event-info {
    display: flex;
    line-height: auto;
    flex-direction: column;
    text-align: left;
    color: white;
    font-size: 12px;
}
.event-info span {
    max-width: 260px;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
}

.event-info * {
    display: block;
}

#map {
    width: 100%;
    height: 93vh;
}





/* 
    Signout page
    Author: Elliott Hansen
*/
.signout-block {
    min-width: 600px;
    width: 35vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.signout-block h2 {
    font-family: Titan One;
    font-size: 55px;
    color: white;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #222529;
}