{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "UVA Events - Sign Out" %}{% endblock %}

{% block content %}
<div class="content-block">
    <div class="home-content-profile" style="background-color: white; height: 200px; display: flex; flex-direction: column; align-items: center;">
        <h2> Goodbye, {{user.first_name|default:"Anonymous"}}</h2>
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="primary-btn" type="submit">{% trans 'Sign Out' %}</button>
          </form>
    </div>
    
</div>
{% endblock %}