{% extends 'account/base.html' %}
{% load static %}
{% load index %}
{% load get_picture %}
{% block content %}
<!-- <div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h3 class="text-center">Welcome to the Admin Dashboard</h3>
                </div>
                <div class="card-body">
                    <h4>Hello, {{ user.first_name|default:"Admin" }}!</h4>
                    <p>Welcome to your admin dashboard, where you can see all of the events you've created!</p>

                    {% if event_list %}
                        <h4 class="text-center">My events</h4>
                        <div class="row">
                            {% for event in event_list %}
                            <div class="col-sm-6 my-4">
                                <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ event.name }}</h5>
                                    <p class="card-text">{{ event.description }}</p>
                                    <a href="{% url 'event' event.id %}" class="btn btn-dark rounded-pill px-4">View details</a>
                                </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% else %}
                    <p>Looks like you do not have any events. Create your first event <a href = "{% url 'create_event' %}"> here</a>!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="content-block-dash">
        <h2> Events you're hosting </h2>
        {% if not event_list %}
                <h3> You don't have any Events!</h3>
                <a href="{% url 'create_event' %}"> Create One? </a>
        {% else %}
            {% for i in '012'|make_list %}
                {% if event_list|index:i %}
                    {% with event=event_list|index:i %}
                    <div class="event-box">
                        <div >
                            <h3> {{event.name}} </h3>
                            <span style="text-overflow: ellipsis;"> {{event.address}} </span>
                        </div>
                        <a href = "{% url 'event' event.id %}">
                            <button class="primary-btn">View</button>
                        </a>
                    </div>
                    {% endwith %}
                {% endif %}
            {% endfor %}
        {% endif %}
        
        {% if rsvpd_list %}
            <h2 style="margin-top:40px;"> Your saved events </h2>
            {% for event in rsvpd_list %}
            <div class="event-box">
                <div>
                    <h3> {{event.name}} </h3>
                    <span> {{event.address}} </span>
                </div>
                <a href = "{% url 'event' event.id %}">
                    <button class="primary-btn">View</button>
                </a>
            </div>
            {% endfor %}
        {% endif %}

</div>
{% endblock %}
