{% extends 'account/base.html' %}
{% load static %}
{% load index %}
{% load get_picture %}
{% block content %}
<!-- <div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h3 class="text-center">Welcome to the Admin Dashboard</h3>
                </div>
                <div class="card-body">
                    <h4>Hello, {{ user.first_name|default:"Admin" }}!</h4>
                    <p>Welcome to your admin dashboard, where you can see all of the events you've created!</p>

                    {% if event_list %}
                        <h4 class="text-center">My events</h4>
                        <div class="row">
                            {% for event in event_list %}
                            <div class="col-sm-6 my-4">
                                <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ event.name }}</h5>
                                    <p class="card-text">{{ event.description }}</p>
                                    <a href="{% url 'event' event.id %}" class="btn btn-dark rounded-pill px-4">View details</a>
                                </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% else %}
                    <p>Looks like you do not have any events. Create your first event <a href = "{% url 'create_event' %}"> here</a>!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="content-block" style="height: 92vh; width: 100vw; padding-top: 4vh">
    <div class="user-profile admin">
        <h2>
            Profile
        </h2>
        <img src="{{ user|get_picture }}" class="login-prof-img-lg">
        <h3>{{user.first_name | default:"CavMan" }}</h3>
    </div>
    <div class="admin-events">
        <h2> Events You're Hosting: </h2>
        {% if not event_list %}
            <div class="overlay">
                <h2> You don't have any Events!</h2>
                <a href="{% url 'create_event' %}"> Create One? </a>
            </div>
            <div class="user-event-box"></div>
            <div class="user-event-box"></div>
            <div class="user-event-box"></div>
        {% else %}
            {% for i in '012'|make_list %}
                {% if event_list|index:i %}
                    {% with event=event_list|index:i %}
                    <div class="user-event-box">
                        <div class="event-info">
                            <h2 class="event-title"> {{event.name}} </h2>
                            <span> {{event.address}} </span>
                        </div>
                        <a class="event-view-button btn btn-outline-dark rounded-pill px-4" href = "{% url 'event' event.id %}">View</a>
                    </div>
                    {% endwith %}
                {% endif %}
            {% endfor %}
        {% endif %}
        
        {% if rsvpd_list %}
            <h2> Events You're Attending: </h2>
            {% for event in rsvpd_list %}
            <div class="user-event-box">
                <div class="event-info">
                    <h2 class="event-title"> {{event.name}} </h2>
                    <span> {{event.address}} </span>
                </div>
                <a class="event-view-button btn btn-outline-dark rounded-pill px-4" href = "{% url 'event' event.id %}">View</a>
            </div>
            {% endfor %}
        {% endif %}

    </div>
</div>
{% endblock %}
