{% extends 'account/base.html' %}
{% load static %}


{% block content %}

<script>
        var pricing = document.getElementById("create-link");
        pricing.classList.add('active');                  //2.
        pricing.setAttribute("aria-current", "page");     //4.
        
        var home = document.getElementById("home-link");
        home.classList.remove('active');                  //3.
        home.setAttribute("aria-current","none");         //4.
</script>

<div class="content-block-form">
    <div class="form-block">
            <h2 style="text-align: center;"> Create a new event </h2>
        <div>
            {{ form.media }}
            <form action="" method="POST" style="display: flex; flex-direction: row; gap: 20px;">
                {% csrf_token %}
                <div class="form-info">
                    <!-- Event name -->
                    <label for="{{ form.name.id_for_label }}" class="form-label">Event Name</label>
                    <input type="text" class="form-control" id="{{ form.name.id_for_label }}" name="{{ form.name.name }}">

                    <!-- Event Location -->
                    <label for="{{ form.address.id_for_label }}" class="form-label" style="margin-top: 8px;">Location</label>
                    <input type="text" class="form-control" id="{{ form.address.id_for_label }}" name="{{ form.address.name }}" placeholder="Enter the address of your event." autocomplete="off">

                    <!-- Event Start Time -->
                    <label for="{{ form.start_datetime.id_for_label }}" class="form-label" style="margin-top: 8px">Start date and time</label>
                    <br>{{ form.start_datetime }}
                    <br>{{ form.start_datetime.errors }}
                    <br>
                    <!-- Event End Time -->
                    <label for="{{ form.end_datetime.id_for_label }}" class="form-label" style="margin-top: 8px">End date and time</label>
                    <br>{{ form.end_datetime }}
                    <br>{{ form.end_datetime.errors }}
                </div>
                <div class="form-info">
                    <!-- Event Description -->
                    <label for="{{ form.description.id_for_label }}" class="form-label">Description</label>
                    <textarea rows="8" style="resize: none" maxlength="300" class="form-control" id="{{ form.description.id_for_label }}" name="{{ form.description.name }}"></textarea>

                    <!-- submit button -->
                    <button class="primary-btn" style="align-self: center;">Create event</button>
                </div>
            </form>
        </div>
        <div>
            {% if message %}
            {% if status %}
            <h5 style="color:green"> {{message}} </h5>
            {% else %}
            <h5 style="color:red"> {{message}} </h5>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
<!-- Add the Google Maps API script -->
<!-- Got permissions working! -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACbnTlCUWNwZd33XSLulbyx8WUfJBOvxQ&libraries=places"></script>

<script>
    var input = document.getElementById('{{ form.address.id_for_label }}');
    var autocomplete = new google.maps.places.Autocomplete(input);
</script>

{% endblock %}