{% extends 'account/base.html' %}
{% load static %}


{% block content %}
<script>
        var home = document.getElementById("home-link");
        home.classList.remove('active');                  //3.
        home.setAttribute("aria-current","none");         //4.
</script>
<div class="content-block-form">
    <div class="form-block">
        <h2 style="text-align: center;"> {{event.name}} </h2>
        <div style="display: flex; flex-direction: row; gap: 25px;">
            <div class="form-info">
                <h3>
                    {% if event.host_user == user.username%}
                        Hosted by: You
                    {% else %}
                        Hosted by: {{event.host_user}}
                    {% endif %}
                </h3>
                <h3">
                    {{event.address}}
                </h3>
                <p style="margin-top: 20px">
                    {{event.description}}
                </p>
                <div class="event-view-time">
                    <p> From: {{ event.start_datetime|date:"N j, Y" }} at {{ event.start_datetime|time:"P" }} </p>
                    <p> To: {{ event.end_datetime|date:"N j, Y" }} at {{ event.end_datetime|time:"P" }} </p>
                </div>
            </div>
            
            <div class="form-info">
                <!-- Show RSVP Form -->
                {% if user.is_authenticated and event.host_user != user.username %}
                <h3>Attend {{event.name}}</h3>
                        	<p> Let the organizer of this event know you're coming! </p>
				<form method="POST" style="display: flex; flex-direction: column; align-items: left; width: auto">
                    {%csrf_token%}
                    <div class="mb-3">
                        <label style="display: inline" for="{{ form.name.id_for_label }}" class="form-label">Your Name</label>
                        <input type="text" class="form-control" id="{{ form.name.id_for_label }}" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label style="display: inline;" rows="2" for="{{ form.name.id_for_label }}" class="form-label">Leave a note</label>
                        <textarea maxlength="200" style="resize: none; height: fit-content" name="note" class="form-control"></textarea>
                    </div>
                    <input type="submit" class="primary-btn" style="width: 140px; height: 50px;"/>
                </form>
                <!-- Show Attendees -->
                {% else %}
                    <h3> Attendees </h3>
                    {% if event.get_rsvps|length <= 0 %}
                        <span> Nobody has RSVP'd yet! </span>
                    {% else %}
                    {% for rsvp in event.get_rsvps %}
                    <span class="event-view-attendee">
                         {{rsvp.name}}
                         <div class="remove-attendee-btn">
                            <a href="{% url 'delete_rsvp' rsvp.id event.id %}">
                                <img src="{% static 'img/redx.png' %}"/>
                            </a>
                         </div>
                    </span>
                    
                    {% endfor %}
                    {% endif %}
                {% endif %}
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
