{% extends 'account/base.html' %}
{% load static %}
{% load socialaccount %}
{% load get_picture %}
{% block content %}
<!-- <div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h3 class="text-center">Welcome to UVA Events</h3>
                </div>
                <div class="card-body">
                    <h4>Hello, {{ user.first_name|default:"UVA Student" }}!</h4>
                    <p>Ready to explore the latest happenings around our university? This platform will keep you informed and connected.</p>
                    {% if user.is_authenticated %}
                    <p><strong>Account:</strong> {{ user.email }}</p>
                        {% if user.is_staff %}
                        <p><strong>Status:</strong> Admin</p>
                        {% else %}
                        <p><strong>Status:</strong> General user</p>
                        {% endif %}
                    {% else %}
                    <p style="color:red"><strong>Please login to access UVA events!</strong></p>
                    {% endif %}
                </div>
            </div>
            </div>
        </div>
    </div>
</div> -->
<div class="content-block" style="">
    <div class="home-content-main">
        <h1>
            Welcome to<br>UVA Events
        </h1>
        <div class="row" style="flex-direction: row; justify-content: center; align-items: center;">
            <h3>
                One platform to keep you informed on social events, shows, free food, and more!
            </h3>
            <img src="{% static 'img/welcome_image.png' %}">
        </div>
    </div>

    <div class="home-right">
        <div class="home-content-profile">
        {% if not user.is_authenticated %}
        <h3> Please login to access UVA events </h3>
        <h5> Get Started and See What's Happening</h5>
        <img src="{% static 'img/unknown-user-cavman.png' %}" class="login-prof-img">
        <h6> <span class="user-class-text">CavMan?</span> Is that you?</h6>
        <a title="{{provider.name}}" class="btn btn-outline-dark rounded-pill px-4 login-button" style="border:2px solid #121212" href="{% provider_login_url 'google'%}">
            Login with
            <img 
                 src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c51f.png" 
                 alt="{{ provider.name }}" 
                 height="20"
             />
         </a>

         {% else %}
            {% if user.is_staff %}
            <div>
                <h2> Hey {{user.first_name | default:"Anonymous"}}! </h2>
                <p> You are a <span class="user-class-text-admin" >HOST</span> user</p>
            </div>
                <a href="{% url 'admin_dash'%}">
                    <img src="{{ user|get_picture }}" class="login-prof-img">
                </a>
            {% else %}
                <h4> Hey {{user.first_name | default:"CavMan"}}! </h4>
                <a href="{% url 'user_dash'%}">
                    <img src="{{ user|get_picture }}" class="login-prof-img">
                </a>
                <p> You are a <span class="user-class-text-user" >USER</span> </p>
                <a class="signout-small" href="{% url 'account_logout' %}">Sign Out</a>
            {% endif %}
         {% endif %}
    </div>

    <div class="home-content-action">
        {% if not user.is_authenticated %}
        <h3> Please login to access UVA events </h3>
        <h5> Get Started and See What's Happening</h5>
        <img src="{% static 'img/unknown-user-cavman.png' %}" class="login-prof-img">
        <h6> <span class="user-class-text">CavMan?</span> Is that you?</h6>
        <a title="{{provider.name}}" class="btn btn-outline-dark rounded-pill px-4 login-button" style="border:2px solid #121212" href="{% provider_login_url 'google'%}">
            Login with
            <img 
                 src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c51f.png" 
                 alt="{{ provider.name }}" 
                 height="20"
             />
         </a>
         {% else %}
            {% if user.is_staff %}
                <h2> Planning to host?</h2>
                <a href="{% url 'create_event' %}">
                    <button class="primary-btn"> Create an event</button>
                </a>
                
            {% else %}
                <h4> Hey {{user.first_name | default:"CavMan"}}! </h4>
                <h5> Let's Go Out Tonight.</h5>
                <a href="{% url 'user_dash'%}">
                    <img src="{{ user|get_picture }}" class="login-prof-img">
                </a>
                <p> You are a <span class="user-class-text-user" >USER</span> </p>
                <a class="btn btn-outline-dark rounded-pill px-4 login-button" style="border:2px solid #121212" href="{% url 'all_events' %}">
                    Find an Event!
                </a>
                <a class="signout-small" href="{% url 'account_logout' %}">Sign Out</a>
            {% endif %}
         {% endif %}
    </div>
    </div>

</div>
{% endblock %}
